body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    background-image: url('images/background.png');
}
#container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #485563;
    color: #FFFFFF;
    width:1000px;
    margin:0 auto;
}

#intro-heading {
    font-family: 'Raleway';
    font-size: 40px;
    text-align: center;
}

a {
    color: white;
}

h2,h3,h4 {
    font-family: 'Raleway';
}

h3 {
    font-size:22px;
}

h4 {
    font-size:18px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

#profile-pic {
    float:left;
    margin-right:15px;
    
    height:150px;
    width:133px;

}

table,th,td {
    text-align:left;
    border: 1px solid black;
    border-collapse:collapse;
}
